CTCLProj/Web References/com.investmentz.ekyctest/AuthenticateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://accountopening.investmentz.co.in/AcmiilService/AuthenticateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://accountopening.investmentz.co.in/AcmiilService/AuthenticateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://accountopening.investmentz.co.in/AcmiilService/AuthenticateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KYCReqRespAPI.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticateService_LoginAuthenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAuthenticate" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_LoginAuthenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_ChangeUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserId" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_ChangeUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_SessionManage_InputMessage">
    <wsdl:part name="parameters" element="tns:SessionManage" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_SessionManage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SessionManageResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_ValidateMPIN_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMPIN" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_ValidateMPIN_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMPINResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_CreateLoginId_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLoginId" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_CreateLoginId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLoginIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_GetSMSOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSMSOTP" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_GetSMSOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSMSOTPResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_GetSessionLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionLog" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_GetSessionLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticateService">
    <wsdl:operation name="LoginAuthenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/LoginAuthenticate" message="tns:IAuthenticateService_LoginAuthenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/LoginAuthenticateResponse" message="tns:IAuthenticateService_LoginAuthenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/ChangePassword" message="tns:IAuthenticateService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/ChangePasswordResponse" message="tns:IAuthenticateService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/ChangeUserId" message="tns:IAuthenticateService_ChangeUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/ChangeUserIdResponse" message="tns:IAuthenticateService_ChangeUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SessionManage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/SessionManage" message="tns:IAuthenticateService_SessionManage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/SessionManageResponse" message="tns:IAuthenticateService_SessionManage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMPIN">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/ValidateMPIN" message="tns:IAuthenticateService_ValidateMPIN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/ValidateMPINResponse" message="tns:IAuthenticateService_ValidateMPIN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLoginId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/CreateLoginId" message="tns:IAuthenticateService_CreateLoginId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/CreateLoginIdResponse" message="tns:IAuthenticateService_CreateLoginId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSMSOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/GetSMSOTP" message="tns:IAuthenticateService_GetSMSOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/GetSMSOTPResponse" message="tns:IAuthenticateService_GetSMSOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/GetSessionLog" message="tns:IAuthenticateService_GetSessionLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/GetSessionLogResponse" message="tns:IAuthenticateService_GetSessionLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticateService" type="tns:IAuthenticateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginAuthenticate">
      <soap:operation soapAction="http://tempuri.org/IAuthenticateService/LoginAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IAuthenticateService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserId">
      <soap:operation soapAction="http://tempuri.org/IAuthenticateService/ChangeUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionManage">
      <soap:operation soapAction="http://tempuri.org/IAuthenticateService/SessionManage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMPIN">
      <soap:operation soapAction="http://tempuri.org/IAuthenticateService/ValidateMPIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLoginId">
      <soap:operation soapAction="http://tempuri.org/IAuthenticateService/CreateLoginId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSMSOTP">
      <soap:operation soapAction="http://tempuri.org/IAuthenticateService/GetSMSOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionLog">
      <soap:operation soapAction="http://tempuri.org/IAuthenticateService/GetSessionLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticateService">
    <wsdl:port name="BasicHttpBinding_IAuthenticateService" binding="tns:BasicHttpBinding_IAuthenticateService">
      <soap:address location="http://accountopening.investmentz.co.in/AcmiilService/AuthenticateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>